* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: aqua;
}

/* style.css */

body {
  background-color: #f8fafc;
}

.custom-btn {
  background-color: #0ea5e9;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: 0.3s;
}

.custom-btn:hover {
  background-color: #0284c7;
}
